routing-options {
{% if item["mddo-topology:l3-node-attributes"]["static-route"] %}
    rib inet.0 {
        static {
{% for route in item["mddo-topology:l3-node-attributes"]["static-route"] %}
{% if "AUTO/NONE" in route["next-hop"]  %}
            route {{ route.prefix }} discard;
{% else %}
            route {{ route.prefix }} next-hop {{ route["next-hop"] }};
{% endif %}
{% endfor  %}
        }
    }
{% endif %}
{% for ospf_node in result_ospf["json"] %}
{% if ospf_node["node"] == item["node-id"] and "Seg" not in item["node-id"] %}
    router-id {{ ospf_node["attributes"]["router-id"] }};
{% endif %}
{% endfor  %}
}


