routing-options {
    rib inet.0 {
        static {
{% for route in item["mddo-topology:l3-node-attributes"]["static-route"] %}
            route {{ route.prefix }} next-hop {{ route["next-hop"] }};
{% endfor  %}
        }
    }
}
