protocols {
    ospf {
        area 0.0.0.0 {
{% for interface in item.iflist %}
            interface {{ interface }};
{% endfor  %}
        }
        export ospf-redistribute;
    }
}
policy-options {
    policy-statement ospf-redistribute {
        from protocol [ {{ item.attributes.redistribute | json_query('[*].protocol') | join(' ') | regex_replace('connected', 'direct') }} ];
        then accept;
    }
}
